body {
    margin: 0 auto;
    padding: 0;
    font-family: arial,sans-sarif;
}

h1 {
    display: none;
}

.nav {
    display: block;
    text-decoration: none;
    top: 16px;
    position: relative;
}

.nav-left {
    width: 100px;
    display: flex;
    position: absolute;
    margin: 0px 0 0 10px;
    height: 30px;
}

.nav-right {
    text-align: right;
    position: absolute;
    width: 200px;
    right: 40px;
    display: flex;
    height: 30px;
}

.ggl-apps,
#gp {
    width: 30px;
    right: 10px;
    height: 30px;
}

.signin {
    height: 30px;
    width: 50px;
    display: block;
}

.nav-link-signin {
    text-decoration: none;
    font-weight: bold;
    line-height: 28px;
    padding: 0 12px;
    height: 30px;

}

.nav-link {
    text-decoration: none;
    padding-left: 15px;
    margin: auto 0;
    height: 18px;
}

.x {
    padding-left: 19px;
}
